*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

:root{
    --colorDark1: #112D4E;
    --colorDark2: #3f72af;
    --colorLight1: #dbe2ef;
    --colorLight2: #f9f7f7;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    color: var(--colorLight2);
    background-image: linear-gradient(160deg,#112D4E 0%,#3f72af 100%);
    overflow-x: hidden;
    background-color: #112D4E;
}

h1{
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
}

.tab-container{
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

.tab{
    cursor: pointer;
    font-size: 0.875rem;
    letter-spacing: 1.75px;
    padding: 5px 8px;
}

.tab.current-tab{
    background-color: rgba(219,226,239,0.5);
    border-radius: 4px;
}

 .weather-container{
    margin-block: 4rem;
 }

 .btn{
    /* Removes default Styling */
    all: unset; 

    font-size: 0.85rem;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: var(--colorDark2);
    cursor: pointer;
    padding: 10px 30px;
 }

 .sub-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
 }

 .grant-location-container{
    display: none;
}

.grant-location-container img{
    margin-bottom: 2rem;
}

.grant-location-container p:nth-child(2){
    font-size: 1.75rem;
    font-weight: 600;
}

.grant-location-container p:nth-child(3){
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 1.75rem;
    letter-spacing: 0.75px;
}


.active{
    display: flex;
}

.loading-container{
    display: none;
}

.loading-container p{
    text-transform: uppercase;
}

.user-info-container{
    /* display: none; */
}

.name{
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    margin-bottom: 1rem;
}

.name p{
    font-size: 2rem;
}



.user-info-container p{
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: capitalize;
}

.user-info-container img{
    width: 90px;
    height: 90px;
}

.name img{
    width: 30px;
    height: 30px;
}

.user-info-container p[data-temp]{
    font-size: 2.75rem;
    font-weight: 700;
}

.card-container{
    display: flex;
    gap: 10px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.card{
    width: 30%;
    max-width: 200px;
    background-color: rgba(219,226,239,0.5);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 5px 0;
    align-items: center;
}

.card img{
    width: 50px;
    height: 50px;
}

.card p:first-of-type{
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;

}

.card p:last-of-type{
    font-size: 1rem;
    font-weight: 200;
}



.form-container .btn{
    padding: unset;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin-bottom: unset;

}


  .form-container{
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 2rem;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
}

.form-container.active {
    display: flex;
}

.form-container input {
    all: unset;
    width: calc(100% - 80px);
    height: 40px;
    padding: 0 20px;
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 10px;
}

.form-container input:focus {
    outline: 3px solid rgba(255, 255, 255, 0.7);
}

.form-container input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.form-container .btn {
    width: 40px;
    height: 40px;
    /* display: grid;
    place-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: unset;
    border-radius: 100%;
}

.form-container .btn img {
    object-fit: contain;
}